head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400|Noto+Sans|Roboto:300,400,500,600', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css")
    link(href='/open-iconic/css/open-iconic.css', rel="stylesheet")
    link(href='/introjs/introjs.min.css', rel="stylesheet")
    link(href='/css/entrance/bubbles.css', rel="stylesheet")
    link(href='/flag-icon-css/css/flag-icon.min.css', rel="stylesheet")
    //link(href="/css/introjs-themes/introjs-dark.css" rel="stylesheet")
    script(type="text/javascript", src="/introjs/intro.min.js")
    script(type='text/javascript', src='/js/emailChecker.js')
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css")
    meta(property='og:image', content='https://gutinstinct-prod.ucsd.edu/email_static/images/share.png')
    title Galileo | Beta
body
    //- +board
