<template name="welcome">
    <div id="welcome">
        <div class="container content topics">
            <h1 class="animated fadeIn" style="color: white;">Welcome to Gut Instinct!</h1>
            <p style="color: white;">Choose among following catalog to explore your gut!</p>

            <div class="tiles" style="margin-top: 3%">
                <a href="/gutboard">
                    <div class="card animated fadeIn" style="width: 220px">
                        <div class="card-image">
                            <img src="/images/welcome/athletes.jpg" alt="athletes">
                            <span class="card-title">Athletes</span>
                        </div>
                    </div>
                </a>

                <a href="/gutboard">
                    <div class="card animated fadeIn" style="width: 220px">
                        <div class="card-image">
                            <img src="/images/welcome/ibd.jpg" alt="ibd">
                            <span class="card-title">IBD Disease</span>
                        </div>
                    </div>
                </a>

                <a href="/gutboard">
                    <div class="card animated fadeIn" style="width: 220px">
                        <div class="card-image">
                            <img src="/images/welcome/t1diabetes.jpg" alt="t1diabetes">
                            <span class="card-title">Type-1 Diabetes</span>
                        </div>
                    </div>
                </a>

                <a href="/gutboard">
                    <div class="card animated fadeIn" style="width: 220px">
                        <div class="card-image">
                            <img src="/images/welcome/nurse.jpg" alt="nurse">
                            <span class="card-title">Nurse</span>
                        </div>
                    </div>
                </a>

                <a href="/gutboard">
                    <div class="card animated fadeIn" style="width: 220px">
                        <div class="card-image">
                            <img src="/images/welcome/general.jpg" alt="general">
                            <span class="card-title">General</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>