template(name="gaPreTest")
    +gaNavbar
    main.center#ga-main
        p This is the Pre Test Page (Meaning that the user hasnt finished the pre-test yet).
        button.btn.light-blue.darken-4#finish-pre-test-btn Finish Pre-Test
