template(name='gutboard_slider_vineet')
    +header
    |{{init}}
    div(class='container content gutboard' style='max-width: 700px;')
        div(data-step='1', data-intro='Welcome to GutBoard! To move to next step of this tour, click "next" or press right arrow key. To move to previous step, click "Back" or press left arrow key. Don\'t forget to checkout all the links in the blue bar above - we have a lot in store for you!')
            h3(class='light-blue-text text-darken-4') <i class="fa fa-comments-o" aria-hidden="true" style="font-size: 2em;"></i> GutBoard <br> 
            h4(class='light-blue-text text-darken-4') Straight from the Gut 
            h6(class='light-blue-text text-darken-4') How do your Gut Instincts compare to others?
            br
            //span (To see all questions in one list, click
            //    a(href='/gutboard?s=4', class='tab-link', id='all-questions') here
            //    |)
            //br
            //span(style='font-size: 18pt; color: #8bc34a; font-weight: 300; margin-bottom: 0') The most popular questions every week receive feedback from experts!
        ul(id='questionStatusTabs' class='tabs', data-step='2', data-intro='All questions, your bookmarked questions and questions written by you')
            li(class='tab col s4')
                //a(href='#', id='contribute', class='tab-link light-blue-text') New! ({{qlength 0}})
                a(href='#', id='contribute', class='tab-link light-blue-text') New

            //li(class='tab col s3')
                a(href='#', id='discussed', class='tab-link light-blue-text') Discussed ({{qlength 1}})

            li(class='tab col s4')
                //a(href='#', id='answered',class='tab-link light-blue-text') Seen ({{qlength 2}})
                a(href='#', id='answered',class='tab-link light-blue-text') Seen

            li(class='tab col s4')
                //a(href='#', id='mine', class='tab-link light-blue-text') Written ({{qlength 3}})
                a(href='#', id='mine', class='tab-link light-blue-text') Written
            div(class="indicator light-blue" style="z-index:1")

        //div(class='questions' id ='addQuestionDiv' style='display:none')
            div(class='card qmodule', style='background: #fff8e1')
                div(class='card-content layer-1')
                    div(class='row')
                        div(class='col s12 l12')
                            form(id='addQuestionForm' autocomplete='off' novalidate)
                                //span(style='font-size: 20pt; color: #8bc34a; font-weight: 300; margin-bottom: 0') Most popular questions every week receive feedback from experts!
                                //br
                                a(href='#' class='returnActiveQuestion')
                                    span(class='oi', data-glyph="chevron-left") &nbsp; Back to <i class="fa fa-comments-o" aria-hidden="true"></i> GutBoard
                                br
                                span(style='font-size: 18pt; font-weight: 300; margin-bottom: 0') Add your question here
                                br

                                ul(class='collapsible popout' data-collapsible='accordion')
                                    li
                                        div(id='layer1Adder' class='collapsible-header active' style='font-size: 13pt;') Step 1: Add top-level question and options

                                        div(class='collapsible-body')
                                            input(type='text', id='primary_question', name='primary_question', placeholder='sample: Do you eat probiotic yogurt?', required, data-step='80' data-intro='Start by adding a question that asks broadly about a habit. For example, "How frequently do you eat probiotic yogurt?"', data-position='right')
                                            div(class='bubble bubble-left hint-layer1') Think of interesting questions that are personally relevant to you! What's your gut feeling? (hint: using timeframes in your questions improves quality of responses!)


                                            div(class='question-option' option-number='1')
                                                div(class='question-each-option option-1')
                                                    span Option 1:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-2' style='display: none;')
                                                    span Option 2:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-3' style='display: none;')
                                                    span Option 3:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-4' style='display: none;')
                                                    span Option 4:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-5' style='display: none;')
                                                    span Option 5:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')


                                            button(id='addOptionQuestionBtn' type='button' class='waves-effect waves-light btn grey darken-2 addOptionQuestion') Add More options
                                            button(id='firstButton' type='button' class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next


                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 2: Add follow-up question and options

                                        div(class='collapsible-body')
                                            input(type='text' id='followup_question' name='followup_question' placeholder='sample: If so, does it help your digestion?', required, data-step='81' data-intro='Please add a follow-up question when other citizen scientists would answer "yes" to your question.', data-position='right')
                                            div(class='bubble bubble-left hint-layer2') Remember, you're a scientist! Many crazy ideas have led to amazing discoveries, esp for gut microbiome. Think of personal experience or folk theories, and see if others have similar experiences!

                                            div(class='followup-option' option-number='1')
                                                div(class='question-each-option option-1')
                                                    span Option 1:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-2' style='display: none;')
                                                    span Option 2:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-3' style='display: none;')
                                                    span Option 3:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-4' style='display: none;')
                                                    span Option 4:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')

                                                div(class='question-each-option option-5' style='display: none;')
                                                    span Option 5:
                                                    input(class='addOptionInput' type='text' placeholder='enter your option here')


                                            button(id='addOptionFollowupBtn' type='button' class='waves-effect waves-light btn grey darken-2 addOptionFollowup') Add More options
                                            button(type='button' class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next


                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 3: Add more follow up questions

                                        div(class='collapsible-body')
                                            button(type='button', id='addOptionstoL3Question', class='waves-effect waves-light btn grey darken-2') Add more follow-up questions?

                                            br
                                            br
                                            button(type='button', class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next

                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 4: Add tags

                                        div(class='collapsible-body')
                                            input(type='text', id='tags_entry', name='tags_entry', placeholder='sample: #diet #probiotics', required, data-step='82' data-intro='Add appropriate, broad tags to reach most people! Tags are separated by a spacebar', data-position='right')

                                            br
                                            button(type='button', class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next

                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 5: Start a discussion

                                        div(class='collapsible-body')
                                            textarea(id='start_discussion', required, style='font-size: 15px', class='materialize-textarea', name='start_discussion', placeholder='Start your discussion here.', data-step='83' data-intro='Let other citizen scientists and researchers help you answer your question. Start a discussion that will get them interested. Share something personal and useful :-)', data-position='right')
                                            div(class='bubble bubble-left hint-layer3') Think about how this question affects you or even people around you: your friends, family. Sharing details will also allow others to respond with useful, detailed replies! Don't shy away from providing links to articles/blogs/scienctific articles/papers - the world's your oyster!

                                            br
                                            button(type='button', class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next

                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 6: Add a supplementary URL to your discussion (Optional)

                                        div(class='collapsible-body')
                                            input(type='text', id='url_attach', name='url_attach', placeholder='Add URL to notes here...', data-step='81' data-intro='Please add a follow-up question when other citizen scientists would answer "yes" to your question.', data-position='right')

                                            br
                                            button(type='button', class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next

                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 7: Attach a supplementary file to your discussion (Optional)

                                        div(class='collapsible-body')
                                            div(class='fileUpload waves-effect waves-light btn light-blue')
                                                span(id='upload-selection-status-span') Attach File (Optional)
                                                input(id='question-file-upload-btn' type="file" style='position: absolute; top: 0; right: 0; margin: 0; padding: 0; cursor: pointer;opacity: 0; filter: alpha(opacity=0);')

                                            br
                                            br
                                            button(type='button', class='waves-effect waves-light btn light-blue addq-nextstep') Save&Next

                                    li
                                        div(class='collapsible-header' style='font-size: 13pt;') Step 8: Review and submit

                                        div(class='collapsible-body')
                                            input(type='submit', class='waves-effect waves-light btn light-blue', data-step='84' data-intro='When you are done, hit Submit', data-position='right')
                                            //button(type='button', class='waves-effect waves-light btn red addq-clear') Clear


                        div(class='col s12 l12')
                            br
                            span(style='font-size: 14pt; color: #8bc34a; font-weight: 700; margin-bottom: 0') Does my questions meet these criteria?
                            br
                            span For every question that you add, 

                            ol(type='1' style='font-size: 11pt; line-height: 130%;')
                                li
                                    b Is it answerable?
                                    span Will it evoke interest from many people?

                                li 
                                    b Is it definite?
                                    span Does it include a timeframe?
                                li 
                                    b Does it links a cause with an effect?
                                    span Does it link one activity with a specific result?
                                li
                                    b Operational
                                    ol(type='a' style='font-size: 11pt; padding-left: 20px;')
                                        li Do check if it uses vague terms that others might find difficult to understand
                                        li If you have multiple factors with multiple results, then make separate questions!

                                li 
                                    b No negations!
                                    span Make sure your question is straightforward, and not confusing to others

                                li 
                                    b Weird questions are welcome!

                            a(href='#' class='returnActiveQuestion' id='returnBoardBottom')
                                span(class='oi', data-glyph="chevron-left") &nbsp; Back to <i class="fa fa-comments-o" aria-hidden="true"></i> GutBoard

        div(class='questions' id='activeQuestionDiv')
            each questions
                if qaccept hash
                    +qmodule

        div(class='questions' id='sliderControlDiv' style='')
            //a(href='#', id='sliderCotrol', class='waves-effect waves-light btn blue-grey darken-2 guttest-button', style='margin-top: 25px; font-size:20px') Skip This Question
            a(href='#', id='backSliderControl', class='guttest-button', style='margin-top: 25px; margin-right: 50px;', data-step='30', data-intro='See previous question' , data-position='down')
                i(class='fa fa-chevron-circle-left fa-4x waves-effect waves-light', aria-hidden="true", style='vertical-align: middle; color: #455a64')

            a(href='/gutboard_slider_addq', id='addQuestionControl', class='guttest-button', style='margin-top: 25px;', data-step='32', data-intro='Add your own question!')
                i(class='fa fa-plus-circle fa-5x waves-effect waves-light', aria-hidden="true", style='vertical-align: middle; color: #f4511e')

            a(href='#', id='sliderControl', class='guttest-button', style='margin-top: 25px; margin-left: 50px;', data-step='31', data-intro='See next question' , data-position='down')
                i(class='fa fa-chevron-circle-right fa-4x waves-effect waves-light', aria-hidden="true", style='vertical-align: middle; color: #455a64')


        div(class='modal', id='q-moved', style='width: 500px')
            div(class='modal-content')
                p Your question has been added to the
                    a(href='#', class='tab-link light-blue-text') Answered tab
            div(class='modal-footer')
                a(href='#', class=" modal-action modal-close waves-effect waves-light-blue btn-flat") Close
        div(class='modal', id='confirm-add', style='width: 500px')
            div(class='modal-content')
                p Your question has been added to the
                    a(href='#', class='tab-link light-blue-text') Written tab
            div(class='modal-footer')
                a(href='#', class=" modal-action modal-close waves-effect waves-light-blue btn-flat") Got It!
