template(name='consent')
    //#welcome
    div(class='container content consent')

        h4(class='animated fadeIn light-blue-text text-darken-4' style="margin-bottom: -50px;") Consent to Act as a Research Subject
        h5(class='light-blue-text text-darken-4' style="text-align: left;") 
            img(src='/images/consent/consent.png', width='130' style="vertical-align: bottom; margin-right: calc(50% - 330px);")
            |  University of California, San Diego
        br
        .row
            div(class='col s12 m12')
                div(class="card")
                    div(class="card-content" style="z-index: -10;")
                        .consent_page.frame
                            strong Tools for collaborative citizen science
                            //strong Understanding the Impact of Adaptive Technological Innovations on Learning &amp; Cognition
                            br
                            br
                            p
                                strong Research Statement
                                br
                                | Scott Klemmer (Associate Professor, Cognitive Science and Computer Science and Engineering) and Vineet Pandey (PhD student, Computer Science and Engineering), are conducting a research study to find out more about the design of interfaces that allow people to perform collaborative citizen science while improving learning outcomes about topics relevant to the citizen science activity. You have been asked to participate in this study because you are at least 18 years of age and stated interest in helping with the evaluation of software applications. There will be approximately 300 participants in this study. Please read this consent form carefully and contact us with any questions you may have about the study procedures, possible risks and benefits, and your rights as a participant. You may decide not to participate at any point.
                            br
                            p
                                strong Study Procedures
                                br
                                | The purpose of this study is to evaluate the design and effectiveness of tools for collaborative citizen science. If you choose to participate, you may be given a tutorial on how to use the tool being studied. You will be asked to perform some tasks with the tool. You may be asked to fill out a few questionnaires regarding your experience and your evaluation of the tool. While using the tool, your actions will be tracked. This includes statistics about how you use the tool, including time spent, clicks inside the interface, search queries inside the tool, commands executed and content generated inside the tool.
                            br
                            p You may be asked to complete the following tasks:
                                ol
                                    li Go through a quick tutorial on how to use the given tool.
                                    li Perform several tasks with the tool.
                                    li Use the tool at your leisure during a period of several weeks.
                                    li Fill out survey questions about your experience and your use of the tool.
                            //- br
                            p The study will take 
                                strong at most
                                | 3 hours, unless you wish to use the tool for longer on your own time. You will be able to take breaks, and you will be able to end the study anytime you want.
                            br
                            p
                                strong 
                                    i What risks are associated with this study?
                                br
                                | There is minimal risk or discomfort associated with participation in this study, and researchers have gone through every effort to minimize the risks associated with this study. However, risks and discomforts that may be associated with participation include the following:
                                ol
                                    li 
                                        strong The risk is the loss of confidentiality:
                                        | We will collect: (a) electronic logs of your actions while performing the given tasks, and (b) computer surveys at the beginning and end of the study, and in between tasks. All digital data and online surveys will be stored on a secure password-protected server, with access limited only to researchers involved in the study. Research records will be kept confidential to the extent allowed by law. Research records may be reviewed by the UCSD Institutional Review Board and by the researchers conducting this study.
                                        br
                                        strong Reminder to not share personal information:
                                        | You are requested to 
                                        strong not
                                        | share any personal details while using the tool. This includes, but is not limited to, your name, date of birth, address, contact details (phone or email), financial information or anything that you believe is personal. If you have any confusion about this, please email researchers mentioned at the end of this form. If you believe you might have provided personal details that you want to retract, please email Vineet at vipandey@cs.ucsd.edu who’ll delete your information immediately from password-protected servers.
                                    li
                                        strong The potential for fatigue or frustration:
                                        | To minimize this risk, you will be able to (a) end the study at any point, (b) ask questions for clarification to reduce the level frustration, and (c) take breaks whenever you want.
                                    //li
                                        strong Unforeseeable Risks:
                            p Because this is a research study, there may also be some unknown risks that are currently unforeseeable. You will be informed of any significant new findings.
                            br
                            p
                                strong
                                    i What are the alternatives to participating in this study?
                                br
                                | The alternative to participation is to choose not to participate. If you are currently enrolled in a class where this tool was recommended, or will in the future enroll in a class taught by an instructor who recommended the tool, your decision to participate or not participate will have no effect on your activities in the class or your grade in the class.
                            br
                            p It is the current policy of the UCSD Psychology Department subject pool that students have an alternative method for meeting the requirements or extra credit for their class. Each course determines the alternative method (typically writing a short research paper).
                            br
                            p
                                strong
                                    i What benefits can be reasonably expected?
                                br
                                | There may or may not be any direct benefit to you from participating in this study. More broadly, the results of the study can lead to better usability of the research tool. Some benefits from the study you may experience include training and practice in using a new interface for better collaboration in citizen science projects. The investigators, however, may learn more about how to design effective tools for citizen science software, which in turn can lead to more engaging user experiences and creation of useful scientific knowledge.
                            br
                            p
                                strong
                                    i Can you choose to not participate or withdraw from the study without penalty or loss of benefits?
                                br
                                | Participation in research is entirely voluntary. You may refuse to participate or withdraw or refuse to answer specific questions in an interview or on a questionnaire at any time without penalty or loss of benefits to which you are entitled. Your data will be deleted from researchers’ password-protected servers and you will be notified when it’s done. You will be told if any important new information is found during the course of this study that may affect your wanting to continue.
                            br
                            p
                                strong
                                    i Can you be withdrawn from the study without your consent?
                                br
                                | The PI may remove you from the study without your consent if the PI feels it is in your best interest or the best interest of the study. You may also be withdrawn from the study if you do not follow the instructions given you by the study personnel. In both these cases, your data will be deleted from researchers’ password-protected servers and you will be notified when it’s done.
                            br
                            p
                                strong
                                    i Will you be compensated for participating in this study?
                                br
                                | Undergraduate students from the subject pool will receive 1 credit for up to 1 hour of participation. There will be no monetary compensation or cost for this study.
                            br
                            p 
                                strong
                                    i Are there any costs associated with participating in this study?
                                br
                                | There will be no cost to you for participating in this study.
                            br
                            p
                                strong
                                    i Who is sponsoring this study?
                                br
                                | This work is funded by an Active Learning Gift by Google.
                            br
                            p
                                strong
                                    i Questions
                                br
                                | If you have any questions or concerns, please contact Vineet Pandey (vipandey@cs.ucsd.edu) or Scott Klemmer (srk@eng.ucsd.edu).
                            br
                            p You may call the UCSD Human Research Protections Program Office at (858) 246-4777 to inquire about your rights as a research subject or to report research-related problems.
                            br
                            p
                                strong
                                    i Your Signature and Consent
                                br
                                | You have read the information provided in this consent form, and this study has been explained to you through online instructions. You voluntarily agree to participate in this study. You understand that if you have any further questions or concerns, you may contact one of the research members or the UCSD Human Research Protections Program. You have received a copy of this consent document.
                            br
                            br
                    div(style="position: relative; z-index: 10;")
                        form(class='signature') 
                            div(style='bottom: 60px; width: 100%; height: 50px; background-color: rgba(255,255,255,.75); -webkit-filter: blur(4px); -moz-filter: blur(4px); -ms-filter: blur(4px); -o-filter: blur(4px); filter: blur(4px); position: relative;  z-index: -1;')
                            p(class='consent-warning' style="margin-top: -40px;") 
                                b Warning
                                |: Please do not share personally identifiable information, including but not limited to name, email, phone number, address, Social Security number, credit card details, deeply personal details. 
                            p
                                input(type='checkbox', id="agreed1", class="filled-in validate tooltipped", name='agreed', required, data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
                                label(for="agreed1") I consent to participate in this research study, and confirm that I am 18 years of age or older.
                            p
                                input(type='checkbox', id="agreed2", class="filled-in validate tooltipped", name='agreed', required, data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
                                label(for="agreed2")
                                    | I understand that all the data provided by me on this website can be made public after ensuring that I won't be personally identified
                                br
                                label(for="agreed2") Using the same license as
                                label(for="agreed2")
                                    b Wikipedia
                                label(for="agreed2") (Creative Commons Attribution-ShareAlike 3.0 Unported License (CC BY-SA))

                            //p 
                                b More details 
                            //p Anyone may distribute derivative works only under a license identical ("not more restrictive") to the license that governs the original work. Anyone may copy, distribute, display and perform the work and make derivative works and remixes based on it only if they give the author or licensor the credits (attribution) in the manner specified by these. 
                            p Further details here: https://creativecommons.org/licenses/by-sa/3.0/legalcode                



                            input(class='waves-effect waves-light btn light-blue', type='submit', value='I agree')
                        br
                        br
