template(name="fileUploadBtn")
    div.file-upload.btn.light-blue.darken-4(style="cursor: pointer; overflow: hidden;") #{text}
        input(type="file" id="{{id}}" style="cursor: pointer; display: block; position: absolute; opacity: 0; width: 1000px;")
