template(name='gaEntrance')
    //- .animateme
    //-   ul.bg-bubbles
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //-     li
    //- //nav(style='display: none;')
    //-     div(class='nav-wrapper light-blue darken-4')
    div(class='container content gutboard' style='max-width: 960px; margin-top:50px;')
        //- img(src='/images/galileo/galileo-logo.png' height='100')
        //- br
        //- br
        if isLoading
            h5(class='animated fadeIn light-blue-text text-darken-4' style='text-align: center;') Loading community boards ...
        else
            h5(class='animated fadeIn light-blue-text text-darken-4' style='text-align: left;') Select the appropriate community below to design your own experiments and to view others' experiments
        br
        br
        
        .row
            each board in getBoard
                .col.s6.m4
                    .card.w3-highway-blue.darken-1.a.enterMendel(id="{{board.mendel_code}}" href='#' style="height: 320px;")
                        .card-content.white-text(style="height: 270px;")
                            .row
                                .col.s12.m12
                                    span.card-title(style='font-weight: 600; text-align: left;') {{board.mendel_name}}
                                        //vineet - write getUserCounts
                            .row
                                .col.s12.m12
                                    span.new.badge.light-blue.darken-4(data-badge-caption='' style='margin-left: 0px; float: left;') Experiments: {{board.exp_count}}
                                    //- span.new.badge.light-blue.darken-4(data-badge-caption='' style='margin-top: 5px; margin-left: -1000px; margin-right: 90px') Users: {{board.user_count}}
                            if board.img
                                img(src=board.img, height='80', style='padding-top: 5px; max-width:80%;')
                            else
                                img(src="/images/galileo/galileo-flask-white.png", height='80', style='padding-top: 5px;')
                            p
                                | {{board.note}}
                                if board.hint
                                    a(href='#' onclick="$('#{{boardInfo board.mendel_code}}').toggle()" class="light-blue-text") (?)
                                    br
                                    br
                                    p(id=boardInfo(board.mendel_code) style="display: none;") {{board.hint}}
