template(name='new_login')
    div.landing-container
        div.bg-img-parallax
            div.bg-overlay

                +landing_nav_header

                div.container.slider-container
                    div.swiper-wrapper
                        div.swiper-slide Slide 1
                        div.swiper-slide Slide 2
                        div.swiper-slide Slide 3
                        div.swiper-slide Slide 4
                        div.swiper-slide Slide 5
                        div.swiper-slide Slide 6
                    //Add Pagination
                    div.swiper-pagination
                        //Add Arrows
                        div.swiper-button-next
                        div.swiper-button-prev

                div.container
                    p THIS IS THE FIRST LINE IN FULL SCREEN IMAGE
                    p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes
                    p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes
                    p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes

                    p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes
                    p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes
                    p THIS IS THE LAST LINE IN FULL SCREEN IMAGE

        div.container
            p THIS IS THE FIRST LINE IN NEXT DIV
            p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes

            p This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes
            p THIS IS THE LAST LINE IN NEXT DIV