template(name='gaFaqs')
    +header
    div.container.content
        h3 FAQs
        ol
            li: p Why run experiments?
                ol
                    li: p Running experiments is the only way to track causality
                    p Example: Suppose you drink coffee and realize
                    li: p Experiments explicitly account for confounders
                    p Example: Suppose you’re curious to know the effect of yogurt on your gut, but travel to another country during the process. This change acts as a confounder - so we don’t know if any changes are due to yogurt, or due to change int he brand of the yogurt,
            li: p Why run long experiments?
                ol
                    li: p Greater number of points provide
                    li: p Assuming experiment is designed and run properly
            li: p Why run experiments with large number of people?
            p Experiments run with you might be biased and might not create generalizable knowledge. Running experiments with more people allows us to create gold standard scientific knowledge
