template(name="gaJoinFailedEnded")
    +gaNavbar
    main#ga-main
        div.wrapper
            h4.board-header Experiment has ended
            div.body(style="font-size: 20px !important; padding: 10px 30px;")
                p Sorry, you cannot participate this experiment. Click on the button
                    | below to go back to the list of all experiments.
                a.btn.light-blue(href="/galileo/browse")
                    i.fa.fa-angle-left
                    | Back
