template(name='login')
    #login
        .login_wrapper
            section(class='sign_in' style="height: 600px;")
                div(class='dummy-bar')
                form
                    span(class='login_error') #{error_message}
                    //- label(for='email') Email:
                    //- br
                    input(type='text', name='username', id='username', placeholder='Username', required)
                    br
                    //- label(for='password') Password:
                    //- br
                    input(type='password', name='password', id='password', placeholder='Password', required)
                    br
                    if signup
                        input(type='submit', name='signup', value="Sign Up")
                        p(style='display: none') Have an account? Sign in
                            a(href="#", class='toggle') here
                    else
                        input(type='submit', name='signin', value="Sign In")
                        br
                        br
                        p No account? Sign up
                            a(href="#", class='toggle') here
                    span {{> loginButtons}}
                    div(class='login-buttons')
                        button(id='login-coursera', class='btn light-green btn-block') coursera
                        button(id='login-google', class='btn red btn-block') google
                        button(id='login-facebook', class='btn blue btn-block') facebook

            section(class='description' style="height: 600px;")
                article
                    h1 Gut Instinct
                        span(class="label label-info") BETA
                    br
                    p Have you wondered how your diet, exercise, and other habits affect your gut (and life)? Scientists wonder about it, too!
                    p With Gut Instinct, you can don your labcoat and help scientists understand human gut while having fun!
                    p Learn about current science of the gut microbiome, discuss your ideas with other citizen scientists, and collaborate on popular questions. Share your Gut Instinct!
                    //p(style='color:#689F38') There are 
                    p(style='color:$primary-accent') There are 
                        b 50
                        | citizen scientists contributing to Gut Instinct currently!
                    //- br
                    //- br

                    div(id='active-login-question')
                        h3 STRAIGHT FROM THE GUT
                        span(id='attention-getter-words', style='font-weight: 300;font-size: 10pt;') &nbsp;Popular Questions!
                        ul
                            each s4tg
                                a(class='to-login' href="#")
                                    li #{layer_1.text}
                            unless s4tg
                                p There are no questions available :(
                        div(style='text-align: center;')
                            button(id='click-login-btn', class='btn light-green to-login') Click here to login
                            //- li I run 5 miles every day. What about you?
                            //- li I get headaches after being out in the sun entire day. How about you?
            br
            br
            div(style='display: block; margin:0 auto; text-align: center')
                span(style='color:#ffffff; opacity:0' ) ----
                br
                span(style='color:#ffffff; font-weight: bold; font-size:14px' ) Powered by

            div(id='powered-logos' style='display: block; margin:0 auto; text-align: center; margin-top: 10px')
                a(href='https://knightlab.ucsd.edu/' target="_blank")
                    img(src='/images/logos/footer-knight.png' height='40')
                a(href='http://americangut.org/' target="_blank")
                    img(src='/images/logos/footer-agut.png' height='40')
                a(href='http://designlab.ucsd.edu/' target="_blank")
                    img(src='/images/logos/footer-dlab.png' height='40')

            div(style='display: block; margin:0 auto; text-align: center')
                span(style='color:#ffffff; opacity:0; font-size:14px' ) ----
                br
                a(href='http://gutinstinct.ucsd.edu/info/' target='_blank')
                    span(style='color:#ffffff; font-weight: bold' ) Visit Project Info Page
                    br
                    span(style='color:#ffffff; font-weight: bold' ) gutinstinct.ucsd.edu/info/


    //div(id='ucsd-info-page' style='display: block; margin:0 auto; text-align: center; margin-top: 10px')
                //a(href='https://knightlab.ucsd.edu/' target="_blank")
                //    img(src='/images/logos/footer-knight.png' height='40')
                //a(href='http://americangut.org/' target="_blank")
                //    img(src='/images/logos/footer-agut.png' height='40')
                //a(href='http://designlab.ucsd.edu/' target="_blank")
                //    img(src='/images/logos/footer-dlab.png' height='40')
