<template name="loginProcess">
    <div id="welcome" style="width: 100%;">
        <div class="container content topics">
            <div style="background-color:#262626; position: absolute; height: 100%; width: 100%; top: 0px; left: 0px;">
            </div>
            <h3 class="animated fadeIn" style="color: white;">Please wait...</h3>
            <img src="/images/login-in.png" style="position: relative; width: 100%; max-width: 550px;" alt="login">

            <!-- Uncomment below if you want to add the catalog section -->
            <!--
        <p style="color: white;">Choose among the following catalog to explore your gut!</p>
        <div class="tiles" style="margin-top: 3%;">
          <a href="/gutboard">
            <div class="card animated fadeIn" style="width: 220px;">
              <div class="card-image">
                <img src="/images/welcome/athletes.jpg" alt="athletes">
                <span class="card-title">Athletes</span>
              </div>
            </div>
          </a>
          <a href="/gutboard">
            <div class="card animated fadeIn" style="width: 220px;">
              <div class="card-image">
                <img src="/images/welcome/ibd.jpg" alt="ibd">
                <span class="card-title">IBD Disease</span>
              </div>
            </div>
          </a>
          <a href="/gutboard">
            <div class="card animated fadeIn" style="width: 220px;">
              <div class="card-image">
                <img src="/images/welcome/t1diabetes.jpg" alt="t1diabetes">
                <span class="card-title">Type-1 Diabetes</span>
              </div>
            </div>
          </a>
          <a href="/gutboard">
            <div class="card animated fadeIn" style="width: 220px;">
              <div class="card-image">
                <img src="/images/welcome/general.jpg" alt="general">
                <span class="card-title">General</span>
              </div>
            </div>
          </a>
        </div>
        -->
        </div>
    </div>
</template>