template(name="gaMePilotExperiments")
    +gaNavbar
    +gaMeSidebar
    main#ga-me-main
        h3 Piloting Experiments
        div#experiment-list(style="margin-top: 30px")
            if isLoaded
                if exps
                    each exp in exps
                        +gaExperimentItem(exp=exp)
                else
                    p No Experiments
            else
                p Loading ...
