template(name="gaCreateTrial")
    +cardLayout(cardId=cardId stepnumber=stepnumber heading=heading progress=progress)
        span(class='card-title' style='font-size: 30px; font-weight: 100;') Warning: Even the best designs have runtime flaws!
        p(style='font-size: 20px; font-weight: 100; font-color: black') You can debug your experiment by running a trial version on yourself for 3 days (? help - why pilot). To pilot your experiment you will need..
        br
        br

        //p(class="blue-text text-darken-2" style='font-size: 20px; font-weight: 100; font-color: black') 1. Your experiment plan
        //p 
            | Access your experiment plan 
            
            p Paste it to your home and office wall where you'll need to access it
        //br

        p(class="blue-text text-darken-2" style='font-size: 20px; font-weight: 100; font-color: black') 1. An experiment notebook
        p 
            | To: 
            br
            | 1. track cause variables (???) 
            br
            | 2. track effect variables (???) and 
            br 
            | 3. keep notes about your experiment. Access your experiment notebook
            a(href='https://docs.google.com/spreadsheets/d/1C_IJpQRVPFhWhSRbXp9-uLTME9Le3wfU7Cc2gCw-m6A/edit#gid=0' target="_blank") here
        p 
        br

        p(class="blue-text text-darken-2" style='font-size: 20px; font-weight: 100; font-color: black') 2. An experiment plan 
        p
            | to receive feedback on your experiment design from other Galileo participants
            br
        p
            | We've created your experiment plan
            a(href="https://docs.google.com/document/d/1a3GUaTcjN6ux_P50IN751xiV4Zs6syAlc-3QxmnfSsQ/edit" target="_blank") here
        p Your insights will help others and others' will help you.
        br

        p(class="blue-text text-darken-2" style='font-size: 20px; font-weight: 100; font-color: black') 3. For better insights, get more scientists!
        p
            a(href="#") Invite
            | more people to join your trial run. More people face more and diverse set of issues, which means your experiment will improve drastically
            | But how many participants will I need? 
