<template name="pageFooter">
    <footer class="page-footer" style="background-color:#ffffff;">
        <div class="container">
            <h5>Powered by</h5>
            <br>
            <div class="row">
                <div class="col s12 m3">
                    <a href="https://microsetta.ucsd.edu/" target="_blank">
                        <img src="/images/logos/microsetta.png" height="70" />
                    </a>
                </div>
                <div class="col s12 m3">
                    <a href="https://knightlab.ucsd.edu/" target="_blank">
                        <img src="/images/logos/footer-knight.png" height="70" />
                    </a>
                </div>
                <div class="col s12 m3">
                    <a href="https://www.cs.utah.edu/" target="_blank">
                        <img src="/images/logos/utah_ksoc.png" height="70" />
                    </a>
                </div>
                <div class="col s12 m3">
                    <a href="#" target="_blank">
                        <img src="/images/banner.jpeg" height="70" />
                    </a>
                </div>
            </div>
            <br>
        </div>
    </footer>
</template>