template(name="gaExperimentStartTime")
    +cardLayout(heading="Set the start time of the experiment" cardId=cardId stepnumber=stepnumber nextDisabled=nextDisabled)
        span(style='font-size: 20px; font-weight: 100;') Please pick a start date for the experiment.
        span(style='font-size: 14px; font-weight: 100;') Note: the experiment will last for 7 days
        input(id="date-input" type='date' placeholder="mm/dd/yyyy")
