template(name="gaParticipantsView")

    div.dual-section
        div.col(style="padding-right:40px")
            | Participants in the control condition will receive the following messages 
        div.vert
        div.col(style="padding-left:40px")
            | Participants in the experimental condition will receive the following messages 
