template(name="gaExperimentDesignResult")
    
    hr.summary-hr
    
    p(style="font-size: 20px; font-weight: 400;") Results:

    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") Grr...Vineet is working on this
    br
    br
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") Result 1: Participants in control (decaf)  group have better quality of sleep than experimental group (caffeinated)
    br
    img(src='/images/galileo/exp_design/1_Does coffee affect quality of sleep?.png' width='450')
    br
    br
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") Result 2: Statistical result of t-test. Participants in control (decaf)  group have better quality of sleep experimental group (caffeinated)
    br
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") How do I understand this?
    br
    img(src='/images/galileo/exp_design/2_p_value.png' width='450')
    br
    br
    br
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") Result 3: Your personal results
    br
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") How do I understand this?
    br
    img(src='/images/galileo/exp_design/3_line_graph.png' width='450')
    //img(src='/images/logos/gi_extra_light_bg.png' width='450')
    br
    br
    br
    span checklist here

    hr.summary-hr

    p(style="font-size: 20px; font-weight: 400;") Conclusion:
    span(class="blue-text text-darken-2" style="font-size: 20px; font-weight: 100; font-color: black") TEST_conclusion ----
    br
    p 1. How will people use these results? //add input box here
    br
    p 2. There needs to be some discussion about the conclusions...
    br
