template(name='loading_wheel')
    div(class='container content gutboard')
    div(style="text-align: center; position: absolute; top: 15%; width: 100%;")
        div(style="margin-bottom: 350px;")
            img(src='/images/logos/gi_extra_light_bg.png' width='450')
        .atom
            .center
            .ring
            .ring
            .ring
            .e
            .e
            .e
        h6(class='light-blue-text text-darken-4' ) Hang tight for a few moments...