<template name="telluswhatyouknownow">
  <div id="welcome">
    <div class="container content topics" style="max-width:750px">
      <h2 class="animated fadeIn" style="color: white;">Before you leave <br/></h2>
      <div class="card" style="margin-top: 5%;">
        <br>
        <div style="margin-left: 10%; margin-right: 10%">
          <h5 class="animated fadeIn" style="color: #696969; margin-top: 20px;">Can you tell us what you know about the gut microbiome!</h5>
        </div>
        <div class="card-content">
          <form class="comment-form">
            <textarea id="userAnswerText" class="materialize-textarea" placeholder="Please enter your answer here" required></textarea>
            <br>
            <br>
            <button id="submitTest" class="btn light-blue">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
