template(name="gaMyExperimentSheet")
    table.tracking-sheet(style="font-weight: 100")
        thead
            tr
                td Date
                td Cause
                    br
                    span.light-blue-text.text-darken-4 (#{causeType})
                td Effect
                    br
                    span.light-blue-text.text-darken-4 (#{effectType})
        tbody
            each slot in slots
                tr
                    td {{slot.date}}
                    td.light-blue-text.text-darken-4 {{{slot.cause}}}
                    td.light-blue-text.text-darken-4 {{{slot.effect}}}
