template(name="gaJoinPassed")
    +gaNavbar
    main#ga-main
        div.wrapper
            h4.board-header Congratulations, you have joined this experiment!
            div.body(style="font-size: 20px !important; padding: 10px 30px;")
                p
                p Hang tight! We will be sending you further instructions by text messages and emails soon.
                p In the meantime check your details here:
                a.btn.light-blue(href="/galileo/me/dashboard") My Participation
