<template name="welcome_step1">
    <div id="welcome">
        <div class="container content topics">
            <h1 class="animated fadeIn" style="color: white;">What does Gut Instinct do?</h1>

            <div class="card" style="margin-top: 5%; margin-left: 20%; margin-right: 20%">
                <h4 class="animated fadeIn" style="color: #696969; margin-top: 20px">xx</h4>

                <div class="card-content">
                    <input type="text" name="agid" class="comment" placeholder="Please enter your American Gut Kit ID here" required>
                    <input type="submit" class="btn light-green" value="GOT IT!">
                    <br>
                    <a href="/welcome_step2"></a>

                    <div class="flexslider" id="myslider">
                        <ul class="slides">
                            <li><img src="/psd/slider_1.jpg"></li>
                            <li><img src="/psd/slider_2.jpg"></li>
                            <li><img src="/psd/slider_4.jpg"></li>
                            <li><img src="/psd/slider_5.jpg"></li>
                        </ul>
                    </div>

                    <p>
                        <i>American Gut Project needs your inputs</i>
                        <br>
                        <b>The problem</b>
                        <br>
                        While American Gut Project can sequence your gut microbiome, there's still plenty to be understood about what affects your (and others') gut microbiota. For example, why do you have more or less bacteriodetes than other people in AG?
                    </p>

                    <p>
                        <b>The solution: you!</b>
                        <br>
                        A lot of this information is locked in your habits, your knowledge, your daily life (and your summer vacations maybe!)
                    </p>

                    <p>
                        <b>How can you contribute?</b>
                        <br>
                        about current science of the gut microbiome with expert-curated learning materials.
                    </p>

                    <p>
                        <b>Think</b>
                        <br>
                        Have you wondered how your diet, exercise, and other habits affect your gut (and life)? Scientists wonder about it, too!
                    </p>

                    <p>
                        <b>Ask</b>
                        <br>
                        questions that help scientists understand the human gut! The top 5 questions every week receive expert discussion and data analysis!
                    </p>

                    <p>
                        <b>Answer</b>
                        <br>
                        fellow citizen scientists' questions and discuss your gut instincts!
                    </p>

                    <p>
                        <b>Learn</b>
                        <br>
                        about current science of the gut microbiome with expert-curated learning materials.
                    </p>

                    <p>
                        <b>Explain Gut Instinct here</b>
                        <br>
                        about
                    </p>

                    <p>
                        <a href="/gutboard">
                            <button class="btn light-green" style="margin-top: 10px">Got it!</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
