template(name='welcome_step1')
    #welcome
        div(class='container content topics')
            h1(class='animated fadeIn' style='color: white;') What does Gut Instinct do?

            div(class='card', style='margin-top: 5%; margin-left: 20%; margin-right: 20%')
                //br
                //div(style='margin-left: 10%; margin-right: 10%')
                    h4(class='animated fadeIn' style='color: #696969; margin-top: 20px') xx



                .card-content 
                    //form(class='comment-form')
                        input(type='text', name='agid', class='comment', placeholder='Please enter your American Gut Kit ID here', required)
                        input(type='submit', class='btn light-green', value='GOT IT!')
                        br
                        a(href='/welcome_step2')

                    //.fslider.testimonial.testimonials-lg.nobg.noborder.noshadow.nopadding(data-animation='fade', data-arrows='false', data-pagi='false')
                        .flexslider
                            .slider-wrap
                              .slide
                                .testi-content
                    div(class='flexslider', id='myslider')
                        ul(class='slides')
                            li
                                img(src='/psd/slider_1.jpg')
                            li
                                img(src='/psd/slider_2.jpg')
                            //li
                            //    img(src='/psd/slider_3.jpg')
                            li
                                img(src='/psd/slider_4.jpg')
                            li
                                img(src='/psd/slider_5.jpg')
                  p
                    i American Gut Project needs your inputs
                    br
                    b The problem
                    br
                    | While American Gut Project can sequence your gut microbiome, there's still plenty to be understood about what affects your (and others') gut microbiota. For example, why do you have more or less bacteriodetes than other people in AG?
                    //img(src='/images/articles/article1.png')
                  p
                    b The solution: you!
                    br
                    | A lot of this information is locked in your habits, your knowledge, your daily life (and your summer vacations maybe!)

                  p
                    b How can you contribute?
                    |  about current science of the gut microbiome with expert-curated learning materials.

                  p
                    b Think
                    br
                    | Have you wondered how your diet, exercise, and other habits affect your gut (and life)? Scientists wonder about it, too!
              
                  p
                    b Ask
                    |  questions that help scientists understand the human gut! The top 5 questions every week receive expert discussion and data analysis!
              
                  p
                    b Answer
                    |  fellow citizen scientists' questions and discuss your gut instincts!
                  p 
                    b Learn 
                    | about current science of the gut microbiome with expert-curated learning materials.

                  p
                    b Explain Gut Instinct here 
                    | about

                  p
                    a(href='/gutboard')
                        button(class='btn light-green' style='margin-top: 10px')
                            | Got it!